@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

/* alegreya-regular - latin */
@font-face {
  font-family: 'Alegreya';
  src: url('./fonts/alegreya-v36-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* alegreya-700 - latin */
@font-face {
  font-family: 'Alegreya';
  src: url('./fonts/alegreya-v36-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* alegreya-800 - latin */
@font-face {
  font-family: 'Alegreya';
  src: url('./fonts/alegreya-v36-latin-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* dm-sans-regular - latin */
@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/dm-sans-v15-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* dm-sans-500 - latin */
@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/dm-sans-v15-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal; 
  font-display: swap;
}

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  src: url('./fonts/inter-v18-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  src: url('./fonts/inter-v18-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal; 
  font-display: swap;
}



@theme {
    --color-primary: #006a57;
    --color-secondary: #00a790;
    --color-accent: #ffd166;
    --color-muted: #e1f7f4;
    --color-bg: #fdf6ed;
    --color-foreground: #171717;
  
    --font-heading: 'Alegreya', serif;
    --font-sub: 'DM Sans', sans-serif;
    --font-body: 'Inter', sans-serif;
  }